*{
    padding:0px;
    margin:0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height:1.6em;
   }

.container{
    width:100%;
    margin:auto;
    padding:10px;
    
}

#bankHead{
    width:100%;
    margin:auto;
    padding:40px;
    
    background:black;
    
    font-size: 2em;
    font-weight:0.1em;
}

h1{
    font-size: 2em;
    font-weight:400; 
    color:white; 
}

#bank-section{
    margin:10px;
    padding:10px;
}

#bank-selection{
    width:25%;
    padding:10px;
    border:2px solid black;
    border-radius:10px;
    
}
#bank-search{
    width:50%;
    margin:auto;
    padding:10px;
    border:2px solid black;
    border-radius:10px;

}

table{
    width:100%;
    margin:auto;
}

#table-head th{
    text-align:center;
    border-bottom:1px solid black;
    padding:10px;
    font-size:20px;
}

#table-body td{
   text-align:center;
   border-bottom:1px solid darkgray;
   padding:8px;
  
}
